

<!-- <h3>(Tasks#index)</h1>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
<h1>My To-do List:</h1>
<ol>
  <% @tasks.each do |task| %>
  <li class="list-items">
    <%= link_to task.name, task_path(task.id) %>: <%= task.description %> |
    Completed: <% if task.completion_date == nil %>
    NO
    <% else %>
    YES: <%= task.completion_date.strftime("%m-%d-%y") %>
    <% end %>
  </li>
  <% end %>
</ol>

<%= link_to "Add a new task", new_task_path, class: "add-button" %>
