<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h1><%= @result_task.name.capitalize %></h1>
<p>
  <%= @result_task.description %>
</p>
<h2><%= link_to "Home", tasks_path %></h2>
