<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <header>
  </header>
  <main>
    <!-- <h1>Tasks#show</h1>
    <p>Find me in app/views/tasks/show.html.erb</p> -->

    <h2><%= @result_task.name.capitalize %></h2>
    <p>
      <%= @result_task.description %>
    </p>
    <h2><%= link_to "Home", tasks_path %></h2>
  </main>
  <footer>
  </footer>
</body>
</html>
