// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Shadows+Into+Light');

html {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 8vw;
  margin-bottom: 10px;
  margin-top: 10px;
}

main {
  padding: 40px;
}

.list-items {
      margin-left: 60px;
}

// .list-items a {
//   text-decoration: none;
//   color: red;
//   font-weight: bold;
// }

.list-items a:hover, .list-items a:visited:hover {
  color: gray;
}

// .list-items a:visited {
//   color: orange;
// }

ol {
  margin-bottom: 50px;
}

ul  li {
  vertical-align: top;
  color: red;
  padding: 10px;
}

a.add-button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: red;
  border: solid 3px black;
  padding: 10px;
  margin: 40px;
  margin-bottom: 50px;
}

a.add-button:hover {
  background-color: yellow;
  color: black;
  border: dotted 3px black;
}

// .complete a {
//   color: green;
// }

.complete {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.complete:visited {
  color: green;
}

.incomplete {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.incomplete:visited {
  color: red;
}
