// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Shadows+Into+Light');

html {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 8vw;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 4vw;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

main {
  padding: 40px;
}

.list-items {
      margin-left: 60px;
}

// .list-items a {
//   text-decoration: none;
//   color: red;
//   font-weight: bold;
// }

.list-items a:hover, .list-items a:visited:hover {
  color: gray;
}

// .list-items a:visited {
//   color: orange;
// }

ol {
  margin-bottom: 50px;
  padding-left: 5px;
}

ul  li {
  vertical-align: text-top;
  color: black;
  padding: 10px;
  font-weight: bolder;
  list-style: none;
}

ul {
  padding-left: 0px;
}

a.add-button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: orange;
  border: solid 3px black;
  padding: 10px;
  // margin: 40px;
  margin-bottom: 50px;
}

a.add-button:hover {
  background-color: yellow;
  color: black;
  border: dotted 3px black;
}

// .complete a {
//   color: green;
// }

.complete {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.complete:visited {
  color: green;
}

.incomplete {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.incomplete:visited {
  color: red;
}

h2.task-header {
  border-bottom: dashed 2px;
  width: 50%;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

p.description {
  padding-bottom: 30px;
  margin-bottom: 10px;
  width: 50%;
  border-bottom: dashed 1px;
}

.edit-button {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  border: solid 2px orange;
  display: inline-block;
}

.edit-button:hover {
  color: white;
  background-color: orange;
}

.delete-button {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border: solid 2px red;
  margin: 5px;
}

.delete-button:hover {
  color: white;
  background-color: red;
}

// .home-button {
//
// }
.home-button {
  text-decoration: none;
  color: black;
  // border: dotted 2px black;
  padding-top: 20px;
  display: block;
  font-size: 1.5em;
  font-weight: bolder;
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

textarea {
  display: block;
}

// .home-button a:hover {
//   color: white;
//   background-color: black;
//   border: solid 2px black;
// }

label.check {
  display: inline-block;
}

check-box {
  display: inline-block;
}

.index-description {
  display: inline-block;
}

.update-button {
  display: block;
  margin-top: 20px;
}
