<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <link rel="stylesheet" href="/assets/stylesheets/tasks.scss">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
